<!-- TOP HEADER -->
    <div class="container-fluid">
      <ul class="list-group list-group-horizontal d-flex flex-row-reverse bd-highlight">
        <li class="list-group-item"><i class="fa fa-phone"></i> +5260656816</li>
        <li class="list-group-item"><i class="fa fa-envelope-o"></i> electronicosco@gmail.com</li>
        <li class="list-group-item"><i class="fa fa-map-marker"></i> 1734 Stonecoal Road</li>
      </ul>
    </div>
  <!-- /TOP HEADER -->


<nav class="navbar navbar-expand-lg navbar navbar-dark bg-dark">
    <a class="navbar-brand" href="#">Electronicos Co.</a>
    <button class="navbar-toggler" type="button" data-toggle="collapse" data-target="#navbarNavAltMarkup" aria-controls="navbarNavAltMarkup" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNavAltMarkup">
      <div class="navbar-nav">
        <a class="nav-link active" href="#">Home <span class="sr-only">(current)</span></a>
        <a class="nav-link" href="#">Features</a>
        <a class="nav-link" href="#">Pricing</a>
        <a class="nav-link disabled" href="#" tabindex="-1" aria-disabled="true">Disabled</a>
      </div>
    </div>
  </nav>